# Database Configuration
DB_USER=endoguard
DB_PASSWORD=your_secure_password
DB_NAME=endoguard_db

# Application Configuration
SITE=endoguard.online
PEPPER=BBlcw0shYHXXCBIIXxaiBySgn3GW0Uzj
FORCE_HTTPS=true

# pgAdmin Configuration
PGADMIN_EMAIL=admin@endoguard.io
PGADMIN_PASSWORD=admin
